.App {
  text-align: center;
  background-image: url('https://cdn.pixabay.com/photo/2017/07/26/13/31/paper-2541687_960_720.jpg');
  height: 100vh;
  width: auto;
  margin: 0 200px;
  background-repeat: no-repeat;
}
.todo-text{
  padding-top: 100px;
}
.todo-list {
  border-radius: 4px;
  padding: 5px;
  width: 500px;
  margin: 0 auto;
}