.App {
  text-align: center;
  background-image: url("./paper-1230086_1280.jpg");
  height: 100vh;
  width: cover;
  margin: 0 50px;
  background-repeat: no-repeat;
}
.todo-text{
  padding-top: 100px;
}
.todo-list {
  border-radius: 4px;
  padding: 5px;
  width: 500px;
  margin: 0 auto;
}